src/xsd/BanqueService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/BS" xmlns:tns="http://www.example.org/BS" elementFormDefault="qualified">
<element name="BS">
<complexType>
<sequence>
<element name="conversion" type="tns:conversiontype">
</element>
</sequence></complexType>
</element>
<complexType name="conversiontype">
<sequence>
<element name="montant" type="double">
</element>
</sequence>
</complexType>
</schema>